.background {
    background-image: url("https://www.lot.com/content/dam/lot/lot-com/destination-photos/sri-lanka/Sri%20Lanka-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.plan-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

.plan-title {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

.plan-form h2 {
    margin-bottom: 10px;
    color: #34495e;
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.tile {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #ecf0f1;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, border-color 0.3s;
}

.tile:hover {
    transform: scale(1.05);
}

.tile.selected {
    border-color: #1abc9c;
}

.tile h3 {
    margin: 10px 0;
    color: #2c3e50;
}

.tile p {
    margin: 5px 0;
    color: #7f8c8d;
}

.plan-submit {
    padding: 10px 15px;
    background-color: #2980b9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.plan-submit:hover {
    background-color: #1abc9c;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}
