.background {
    background-image: url("https://www.lot.com/content/dam/lot/lot-com/destination-photos/sri-lanka/Sri%20Lanka-2.jpg");
    /*background-size: contain; !* Ensures the full image is displayed *!*/
    background-repeat: no-repeat; /* Prevents tiling of the image */
    background-position: center; /* Centers the image */
    width: 100%;
    height: 100vh; /* Takes the full viewport height */
    background-size: cover;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Covers entire screen */
    padding: 2rem;
    /*background: linear-gradient(to bottom right, #f5f7fa, #e4ebf5);*/
}

.login-box {
    background: rgba(255, 255, 255, 0.25); /* Transparent white background */
    backdrop-filter: blur(10px); /* Glassmorphism blur effect */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Border to enhance the glass effect */
    border-radius: 15px; /* Rounded corners for a modern look */
    padding: 3rem 2rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25); /* Subtle shadow for depth */
    max-width: 400px;
    width: 100%;
    text-align: center;
    color: #333; /* Darker text color for better readability */



}

.login-title {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    /*margin-bottom: 1rem;*/
    color: white; /* Text color */
    background: linear-gradient(90deg, #69c884, #70d661); /* Gradient effect */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Gradient text */
    text-shadow: 2px 2px 4px rgba(0, 255, 84, 0.5); /* Shadow for depth */
    margin-bottom: 1.5rem; /* Add spacing below the title */
    display: flex; /* Align icon and text */
    align-items: center;
    justify-content: center;
}

.login-form .MuiTextField-root {
    margin-bottom: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.login-button {
    background-color: #007bff;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
